<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config />
    <mvc:annotation-driven/>

    <bean id="viewResolver" p:prefix="/WEB-INF/views/" p:suffix=".jsp"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>

    <context:component-scan base-package="ptithcm.bean"/>

    <mvc:resources mapping="/css/**"    location="/css/" />
    <mvc:resources mapping="/js/**"     location="/js/" />
    <mvc:resources mapping="/images/**" location="/images/" />

    <!-- Auth Interceptor - kiểm tra đăng nhập -->
    <mvc:interceptors>
        <bean class="ptithcm.bean.AuthInterceptor"/>
    </mvc:interceptors>

    <!-- SQL Server DataSource (mặc định cho login check) -->
    <!-- Hỗ trợ Docker: set biến môi trường DB_HOST, DB_USER, DB_PASSWORD -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        <property name="url" value="#{systemEnvironment['DB_HOST'] != null ? 'jdbc:sqlserver://' + systemEnvironment['DB_HOST'] + ';databaseName=' + (systemEnvironment['DB_NAME'] != null ? systemEnvironment['DB_NAME'] : 'QLDSV_HTC') + ';encrypt=false;trustServerCertificate=true' : 'jdbc:sqlserver://localhost\\SQLEXPRESS;databaseName=QLDSV_HTC;encrypt=false;trustServerCertificate=true'}"/>
        <property name="username" value="#{systemEnvironment['DB_USER'] != null ? systemEnvironment['DB_USER'] : 'sa'}"/>
        <property name="password" value="#{systemEnvironment['DB_PASSWORD'] != null ? systemEnvironment['DB_PASSWORD'] : '123'}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

</beans>